<div class="container" id="Header-Requirement">
    <header class="header-center">
        SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018. For Demonstration Only<br><h2><strong>Team 12</h2></strong>
</div>
<div style="margin-top: -50px;">
    <a href="/"><img src="https://s3.amazonaws.com/csc648team12/logo.jpg" alt="logo" id="logo"></a>
</div>
