<header class="header-center">
    <div class="container">
        <center>
            <p>SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018. For Demonstration Only</p>
        </center>
    </div>
</header>
<img class="logo" src="https://s3.amazonaws.com/csc648team12/logo.jpg" alt="logo">
<style>
.logo {
    height: 45px;
    max-width: 180px;
}
</style>