<nav class="navbar navbar-expand-lg navbar-custom justify-content-between">
    <div class="container">
        <!-- Toggle for navigation when resized -->
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Drop Down Category Menu -->
        <div class="category">
            <form action="/items-search" method="post" class="form-inline my-0 my-lg-0">
                <select class="form-control ml-sm-0" name="dropdown">
                    <option selected="selected" value="Select One">All Categories</option>
                    <% for(let i = 0; i < categories.length; i++) { %>
                    
                    <!-- Category selection and consistency -->
                    <option value="<%= categories[i].Category %>" 
                        <%if (categories[i].Category == holdCategory) { %>
                            selected="selected"
                        <% } %> >
                        <%= categories[i].Category %>
                    </option>
                    <% } %>
                </select>

                <!-- Search Bar And Go Button -->
                <div class="search">
                    <input type="text" id="text" name="search" placeholder="Search" aria-label="Search" input size="30" class="form-control ml-sm-0" value=<%=holdSearch %> >
                    <span class="input-group-btn">
                           <input type="submit" action="/items-search" method="post" class="btn btn-secondary my-0 ml-sm-0" value="Go">
   </span>
                </div>
        </div>
        </form>
        <!-- Actions for when navbar decreases -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" target="_blank">About Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post" target="_blank">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" target="_blank">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" target="_blank">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>