

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Team Page</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/round-about.css" rel="stylesheet">

    </head>


    <body>


        <!-- Header -->
        <header class="header-center">
            <div class="container">
                <center><p>SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018.  For Demonstration Only</p></center>
            </div>
        </header>

        
         <!-- Navigation -->
   <!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   -->
        
        <!-- Page Content -->
        <div class="container">

            <!-- Introduction Row -->
            <h1 class="my-4">About Our Team
            </h1>

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="my-4">Team 12</h2>
                </div>
                <br><br>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="about.html"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></a>
                    <h3>Pablo<br>
                        <small>Team 12 Lead</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="about.html"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></a>

                    <h3>Harry<br>
                        <small>Front End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="about.html"><img class="rounded-circle img-fluid d-block mx-auto" src="SyedProfile.jpeg" alt=""></a>

                    <h3>Syed<br>
                        <small>Front End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="AboutSyed.html"><img class="rounded-circle img-fluid d-block mx-auto" src="StephProfile.jpeg" alt=""></a>

                    <h3>Stephanie<br>
                        <small>Front End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <br><br>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="aboutStephanie.html"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></a>

                    <h3>Jack<br>
                        <small>Back End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="about.html"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></a>

                    <h3>Johnny<br>
                        <small>Back End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-3 col-sm-7 text-center mb-4">
                    <a href="about.html"><img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></a>

                    <h3>Mars<br>
                        <small>Back End Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>



            </div>
            <!-- /.container -->

          <!-- Footer
          <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
                </div>
            </footer>
          -->
           
            <!-- Bootstrap core JavaScript -->
            <!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>

</html>
