<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>Register</title>
    <!-- Style for Navigation and Containers-->
    <%- include('partials/Style') %>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <div class="container-form">
        <h1><center>Registration</center></h1>
        <form action="/login" method="get">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Repeat password</label>
                <input type="password" class="form-control" name="password2" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" class="form-control" name="lastname" placeholder="Enter username">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    </div>
</body>

</html>