<html>
<form action="/upload" method="POST" enctype="multipart/form-data">

<input type="file" name="image"  style="color: #292f33; font: 20px Trebuchet MS, Helvetica, sans-serif" required/>


<input type="submit">

	</form>

	</html>